@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Mesaj>

@foreach (var x in Model)
{
<div class="timeline timeline-inverse">

    <div class="time-label">

        <span class="bg-danger">

            @x.Tarih.ToShortDateString()

        </span>

    </div>
    <div>

        <i class="fas fa-envelope bg-primary"></i>

        <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> @x.Tarih.ToShortTimeString()</span>

            <h3 class="timeline-header"><a href="#">@x.Gonderici</a> - @x.Konu</h3>

            <div class="timeline-body">@x.Icerik</div>
        </div>

    </div>

</div>
}