@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Departman Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="margin-left:20px">Departman Detayları</h2>
<br />

<ol class="breadcrumb mb-4"style="margin-left:20px">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.DepartmanAd</li>
</ol>

<br />
<table class="table table-hover"style="margin-left:20px">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Resmi</th>
        <th>Satışlar</th>
    </tr>
    @foreach(var personel in Model)
            {
                <tr>
                    <td>@personel.PersonelID</td>
                    <td>@personel.PersonelAd</td>
                    <td>@personel.PersonelSoyad</td>
                    <td>@personel.PersonelGorsel</td>
                    <td><a href="/Departman/DepartmanIcınPersonelSatis/@personel.PersonelID" class="btn btn-success">Satışlar</a></td>
                </tr>
            }
</table>